  .site-layout-content {
    margin: 0px 24px;
    padding: 24px;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  .layout{
      min-height: 100vh;
  }

  .footer{
      bottom: 0;
      text-align: center;
  }