.image-field{
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
}

.img{
    border: 1px solid grey;
}

.list-move{
    height: 300px;
    width: 50%;
    overflow: scroll;
    padding: 6px 0;
}

.stat-field{
    display: flex;
    align-items: center;
    height: 30px;
}

.table-text{
    font-size: 15px;
}

.button-action{
    width: 35%;
    margin-bottom: 10px;
}

.title{
    font-family: 'Press Start 2P', cursive;
}

@media only screen and (max-width: 600px) {
    .image-field{
        text-align: center;
        width: 100%;
        margin-bottom: 12px;
    }

    .button-action{
        width: 93%;
        margin-bottom: 10px;
    }

    .list-move{
        height: 300px;
        width: 100%;
        overflow: scroll;
        padding: 6px 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1500px) {
    .button-action{
        width: 58%;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .button-action{
        width: 48%;
        margin-bottom: 10px;
    }
}